* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    color: #555;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/healthy-food.jpg');
    background-attachment:fixed;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}

h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    color: #fff;
    border: 1px solid #e67e22;
    margin-right: 25px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit] {
    background-color: #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

.btn-full:hover,
.btn-full:active,
input[type=submit] {
    border: 1px solid #cf6d17;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    padding: 8px 0px;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

.col {
    float: left;
}

.span-1-of-4 {
    width: 23.8%;
}

@media only screen and (max-width: 480px) {
    .span-1-of-4 {
        width: 100%;
    }
}
.span-1-of-2 {
    width: 50%;
}

@media only screen and (max-width: 480px) {
    .span-1-of-2 {
        width: 100%;
    }
}
section{
    padding: 80px 0px;
}
h2{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}
.box{
    padding: 1%;
}
h3{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 110%;
    margin-bottom: 15%;
}
.box p{
    font-size: 90%;
    line-height: 145%;
}
.icon-big{
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.meals-showcase {
    list-style: none;
    width: 100%;
    overflow: hidden; /* Clear float */
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%; /* Each photo occupies 25% of the width */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.meal-photo {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img {
    width: 100%;
    height: auto;
    transform: scale(1.15);
    opacity: 0.7;
}
.meal-photo img:hover{
    transform: scale(1.03);
    opacity: 1;
}
.section-meals{
    padding: 0;
}
.section-features.long-copy{
    margin-bottom: 30px;
}
.works-step{
    margin-bottom: 50px;
    margin-right: 25px;
}
.steps-box:first-child{
    text-align: center;
    padding-right: 3%;
    margin-top: 30px;
}
.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}
.app-screen{
    width: 60%;
}
.works-step div{
    color: #e67e22;
    border: 4px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.works-step:last-of-type{
    margin-bottom: 80px;
}
.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}
.btn-app:link,
.btn-app:visited{
    border: 0;
}
.clearfix{zoom: 1}
.clearfix::after{
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
.play img{
    height: 80px;
    width: 150px;
}
.city-features{
    margin-bottom: 5px;
}
.small-icon{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}
a:link,
a:visited{
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 1px;
}
a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s,color 0.5s;
}
.box {
    width: 25%; 
    float: inline-block; 
    padding: 0 15px; 
    box-sizing: border-box;
}

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.section-testimonials{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/healthy-food.jpg);
    background-size: cover;
    color: #fff;
    background-attachment:fixed;
}
cite {
    font-size: 70% !important; /* Increase the font size */
    display: block;
    margin-top: 25px;
    color: #cf6d17 !important; /* Ensure the color remains as specified */
}

cite img {
    height: 90px;
    margin-right: 10px;
    vertical-align: middle;
}

blockquote {
    padding: 2%;
    font-style: italic;
    font-size: 100%;
    line-height: 145%;
    margin-top: 40px;
    position: relative;
    color: #fff; /* Set the text color to white */
}

blockquote::before {
    content: '\201C';
    font-size: 500%;
    display: block;
    position: absolute;
    top: 0;
    left: -3px;
    color: #cf6d17; /* Set the color to match the cite */
}

.book{
    width: 32.8%; 
    float: inline-block; 
    padding: 0 15px; 
}
.section-plans{
    background-color: #f4f4f4;

}
.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
}
.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}
.Plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}
.Plan-price-meal{
    font-size: 80%;
}
.Plan-price span{
    font-size: 30%;
    font-weight: 300;
}
.plan-box ul{
    list-style: none;
}
.plan-box li{
    padding: 5px 0px;
}
.plan-box div:last-child{
    border: 0;
    text-align: center;
}
.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.span-2-of-3 {
	width: 66.13%; 
}

.span-1-of-3 {
	width: 32.26%; 
}
@media only screen and (max-width: 480px) {
	.span-3-of-3 {
		width: 100%; 
	}
	.span-2-of-3 {
		width: 100%; 
	}
	.span-1-of-3 {
		width: 100%;
	}
}
.contact-form {
    width: 70%;
    margin: 0 auto; 
}

.contact-form label {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px; 
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form select,
.contact-form textarea {
    width: 500px; /* Adjust for padding and border */
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 10px; /* Add some bottom margin for spacing */
}

.contact-form textarea {
    height: 100px; /* Adjust the height of the textarea */
}

.contact-form input[type="checkbox"] {
    margin-top: 10px; /* Add some top margin for spacing */
}

/* Add spacing between all rows */
.contact-form .row {
    margin-bottom: 20px;
}

/* Footer styling */
footer {
    background-color: #333;
    font-size: 80%;
    padding: 50px;
}

/* Navigation list */
.footer-nav {
    list-style: none;
    float: left;
}

/* Social links list */
.social-links {
    list-style: none;
    float: right;
}

/* List items in both navigation and social links */
.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

/* Links styling */
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    font-size: 120%;
}

/* Hover effect for navigation links */
.footer-nav li a:hover {
    color: #aaa;
}

/* Social media icon styling */
.social-links ion-icon {
    font-size: 32px; /* Increase font size for icons */
}

/* Hover effect for social links */
.social-links li:hover ion-icon {
    transform: scale(1.2); /* Increase size on hover */
    transition: transform 0.3s ease; /* Smooth transition */
}

/* Individual color changes for social media icons */
.social-links li:hover .fb ion-icon {
    color: #3b5998 !important; /* Ensure color change on hover */
}

.social-links li:hover .twitter ion-icon {
    color: #00aced !important; /* Ensure color change on hover */
}

.social-links li:hover .google ion-icon {
    color: #dd4b39 !important; /* Ensure color change on hover */
}

.social-links li:hover .insta ion-icon {
    color: #517fa4 !important; /* Ensure color change on hover */
}

/* Copyright line styling */
footer p {
    color: #888;
    text-align: center;
    font-size: 110%; /* Increase font size for copyright line */
    margin-top: 30px; /* Increase gap from above */
    margin-bottom: 0; /* Remove default bottom margin */
}
col